@mixin google_font($family, $weights) {
    @import url("https://fonts.googleapis.com/css?family=#{$family}:#{$weights}&subset=latin") screen;
}

@include google_font('Assistant',   '400,600,800');
@include google_font('Vollkorn',    '900,i900');
// @include google_font('Lato',        '400,700,i400,i700');
@include google_font('PT Serif',    '400,700,i400,i700');

@mixin headline_font {
    font-family: 
        'Vollkorn',
        'Hoefler Text',
        'Georgia',
        serif;
    font-weight: 900;
}
@mixin body_font {
    font-family: 
        'Assistant',
        // 'Lato',
        'Helvetica',
        'Helmet',
        sans-serif;
    font-weight: 400;
}
@mixin copy_font {
    font-family: 
        'PT Serif',
        // 'Assistant',
        // 'Lato',
        'Helvetica',
        'Helmet',
        sans-serif;
    font-weight: 400;
}
@mixin small_body_font {
    font-size: 14px;

    @include larger_width {
        font-size: 16px;
    }
}
@mixin body_font_bold {
    font-weight: 800;
}

@mixin outlined_text($blur: 1px, $colour: $eerie_black) {
    text-shadow: 1px 1px $blur $colour,
                 1px -1px $blur $colour,
                 -1px 1px $blur $colour,
                 -1px -1px $blur $colour;
}


html, body {
    @include body_font;
    font-size: 16px;
    line-height: 1.4;

    @include larger_width {
        font-size: 19px;
    }
}

#body h1, h2, h3 {
    @include headline_font;
}

main {
    @include copy_font;
}
