// The very top of the page.

#masthead {
    background: $nevada;
    color: $skeptic;

    a {
        color: $skeptic;
    }
    h1 {
        @include headline_font;
        color: $body_white;
    }


    h1 {
        margin: 0;
        // margin-bottom: 0;
        // padding-bottom: 0;
        line-height: 1;
    }
    nav {
        @include small_body_font;
    }
    ul {
        margin: 0;
        padding: 0;
        display: inline;
    }
    li {
        // display: inline-block;
        display: inline;
    }
    li + li:before {
        content: ' · ';
    }
}
