// The large splash image across the top of a page's content,
// where the image sits behind the header text.

main header #splash {
    position: relative;

    h1 {
        position: absolute;
        bottom: 0.1em;
        left: 0;

        margin: 0;

        font-size: 2em;
        font-size: 10vw;
        line-height: 1;
        color: $body_white;
        @include outlined_text(2px);
    }

    img {
        margin: 0 $side_outdent;
        max-width: 100%;
        max-width: unquote("calc(100% +") $side_indent + $side_indent unquote(")");
    }

    @include larger_width {
        h1 {
            font-size: 4em;
            font-size: 10vw;
            @include outlined_text(5px);
        }

        img {
            margin: 0 -128px;
            max-width: 100%;
            max-width: calc(100% + 256px);
        }
    }
}
