      <dt>source</dt>
      <dd>Originally posted to <a href='https://twitter.com/{{twitter.account}}/status/{{twitter.first_tweet}}'>Twitter</a>
          {% if twitter.account != 'cackhanded' %}
            by
            <a href='https://twitter.com/{{twitter.account}}'>@{{twitter.account}}</a>
          {% endif %}
      </dd>
      {% if twitter.retweets %}
        <dt>retweets</dt>
        <dd>{{twitter.retweets}}</dd>
      {% endif %}
      {% if twitter.favourites %}
        <dt>favourites</dt>
        <dd>{{twitter.favourites}}</dd>
      {% endif %}
