body.foursquare {
    #body figure {
        margin: 0;
        padding: 0;
        margin-bottom: 2em;

        img {
            max-width: 100%;
        }

        figcaption {
            @include body_font;
            @include small_body_font;
            color: $nevada;
            text-align: right;
        }
    }

    #body p.image img {
        max-width: 100%;
    }
}
