// The "recipe" page type.

body.recipe {
    #body p.image.hero {
        margin-left: -$side_indent;
        margin-top: -5em;
        @include larger_width {
            margin-left: -$side_indent_larger;
        }

        width: 1280px;
        max-width: 100vw;
        z-index: 1;
    }

    main header {
        position: relative;
        z-index: 2;

        h1,
        p.published {
            color: $desert_storm;
            @include outlined_text;
        }
    }

    #body p.image img {
        max-width: 100%;
    }

    main ol li {
        margin-bottom: 0.4em;
    }
}
