// generator:source page

body.source {
    #fixme {
        outline: 5px solid red;
        border: 5px solid orange;
        background: #ffc;
        padding: 10px;
        margin-top: 2em;

        h2 {
            margin-top: 0;
        }
    }

    figure {
        margin: 1.5em 20px;
        @include width_below(500px) { margin: 1.5em -20px; }

        figcaption {
            margin: 0 20px;
            @include headline_font;
        }
    }

    figure img,
    p.image img {
        max-width: 100%;
        height: auto;
    }

    #updated {
        @include body_font;
        color: $limed_spruce;
        border: solid $limed_spruce;
        border-width: 0 5px 0;
        padding: 0.25em 20px;
        margin: 0 $side_outdent 2em;

        strong {
            @include headline_font;
        }

        p:first-child {
            margin-top: 0;
        }
        p:last-child {
            margin-bottom: 0;
        }

        @include larger_width {
            margin: 0 1em 3em;
        }
    }
}

body.source.article.thread {
    main header + p {
        @include contain-floated-children;
        @include body_font;
        font-weight: 600;
        font-size: 16px;
        color: $limed_spruce;
        background: $opal;
        padding: 1em 20px;
        margin: 0 -20px 2em;

        @include larger_width {
            font-size: 22px;
        }

        img {
            float: right;
            min-width: 150px;
            max-width: 35%;
            height: auto;
            margin: 0 0 20px 20px;
            outline: 1px solid $eerie_black;
        }
    }
}
