{% extends "base_template.html" %}

{% block body %}

  <h1>Archives</h1>

  {% for year in global.all_valid_dates %}
    <li>
      <h2>
      <a href='{{ url("year-index", year=year.year) }}'>
        {{year.year}}
      </a>
      </h2>
      <ul>
        {% for month in year.months %}
          <li>
            <a href='{{ url("month-index", year=year.year, month=month.month) }}'>
              {{month.month|month_name}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}

{% endblock body %}
