<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>{% block head_title_text %}SET PAGE TITLE{% endblock %}</title>
  <link rel='stylesheet' href='/css/site.css'>
</head>
<body class='{{page_class}} {% block page_class %}{% endblock %}'>

  <div id='masthead'>
    <h1>mark<wbr>norman<wbr>francis<wbr>.com</h1>

    {% block global_rebuilding %}
    <p id='rebuilding'>
      <span>Please hold…</span> rebuild in progress
      <a href='/about-the-rebuild'>(find out more)</a>
    </p>
    {% endblock %}

    <nav>
      Archives:
      <ul>
      {% for date in global.publication_dates %}
        {% with year=date.year.year %}
          <li>
            <a href='{{ path("year-index", year=year) }}'>{{year}}</a>
          </li>
        {% endwith %}
      {% endfor %}
      </ul>
    </nav>
  </div>


  <div id='body'>
    {% block body %}
      <p>This site is being slowly rebuilt.</p>
      <img src='http://mnf.m17s.net/2012/07/31/dropping-a-css-knowledge-bomb-on-rujmah.jpg'>
    {% endblock %}
  </div>

  <div id='footer'>
    <p>Copyright © 2006–2020 Mark Norman Francis.</p>
  </div>

</body>
</html>
