{% extends "base_template.html" %}

{% block head_title_text %}Entries tagged {{tokens.tag}}{% endblock %}

{% block body %}
  <h1>Entries tagged {{tokens.tag}}</h1>
  {% for page in pages %}
    {% if loop.changed(page.published.month) %}
      {% if not loop.first %}
          </li>
        </ul>
      {% endif %}
        <li>
          <h2>{{page.published.strftime('%B %Y')}}</h2>
          <ul>
    {% endif %}

          <li>
            {{page.published.strftime('%dth %H:%M')}} <a href='{{page.url}}'>{{page.title}}</a>
          </li>
  
    {% if loop.last %}
        </ul>
      </li>
    {% endif %}

  {% endfor %}
{% endblock %}
